.hero {
    padding: 1.3vw 5.6vw ;
    @media (max-width: 768px) {
        display: block;
        padding: 12vw;
    }
    
    &__self {
        left: 0px;
        opacity: 70%;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        z-index: 0px;
    
        img {
            width: 100vw;
        }
    }

    &__content {


        img{
            max-width: 341px;
            min-width: 100px;
            width: 35vw;
            
        }
        &__icon {
            max-width: 290px;
            display: flex;
            
            
            img {
                height: 20px;
                margin: 0 4px 0 0;
            }
            
            &__text__p {
                max-width: 290px; 
            }
            
        }
        
        &__paragraph {
            width: 885px;
            padding: 16px 0;
            margin: 0 0 56px 0;
            
            @media (max-width: 768px) {
                width: 294px;
                max-width: 5888px;
            }
        }
    }
}



