$corDeFundo:#0E0B14;
$corTextoPrincipal: #F9F9F9;
$corTextoSecundario: #CACACA;
$corDaBarra: #f9f9f933;
$corDeFundoBotaoPrimario:#0072D2;
$corDeFundoBotaoSecundario:#0063e5;
$corDeFundoBotaoDark: #000;